# Исполняемые файлы
*.exe
*.out
*.app

# Объектные файлы
*.o
*.obj

# Сборки CMake
build/
CMakeFiles/
*.cmake
Makefile
cmake_install.cmake

# Google Test
googletest/
gtest_*

# Временные файлы
*~
*.bak
*.backup

# Логи
*.log
